%btn {
  display: inline-block;
  min-width: 180px;
  padding: 12px 16px;
  text-align: center;
  color: $gray;
  font-size: 18px;
  line-height: 1.5;
  transition: ease all 0.3s;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none!important;
  font-family: 'Merriweather', serif;
}

%btn-primary {
  @extend %btn;
  background-color: transparent;
  border: solid 2px $teal;
  color: $gray!important;
  letter-spacing: ( 100 / 1000 ) * 1em;
  
  &:hover {
    background-color: $teal;
    color: white!important;
   }
}


.btn-primary {
   @extend %btn-primary;
}
