//
// Footer
// --------------------------------------------------


.newsletter {
	background-image: url('assets/images/home/newsletter.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	padding: 65px 0 50px;
	h2 {
		font-size: 81px;
		@include breakpoint(small down) {
			font-size: 55px;
		}
	}
	h3 {
		font-size: 42px;
		margin-bottom: 15px;
		@include breakpoint(small down) {
			font-size: 25px;
			margin-bottom: 15px;
		}
	}
	.home-inputs {
		width: 50%;
		display: inline-block;
		line-height: 0px !important;
		margin-bottom: 20px;
		margin-top: 0 !important;
		@include breakpoint(small down) {
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
		.ginput_container {
			margin-top: 0 !important;
		}
		input {
			width: 100%;
			line-height: 30px;
			padding-left: 15px !important;
			font-size: 16px !important;
		}
		.top_label input.medium,
		.top_label select.medium {
			width: 100%;
		}
	}
    
    .gform_body {
        
        @include breakpoint(large) {
            font-size: 21px;
        }
           
    }
    

    .ginput_container_radio {
        
        text-align: center!important;
        
        .gfield_radio {
            display: inline-block;  
            
            li {
                @include breakpoint(small only) {
                    display: block;
                    text-align: left;
                    label {
                        white-space: nowrap;
                    }
                }   
                
                @include breakpoint(medium) {
                    display: inline-block;
                    width: 33.33%;
                   
                    
                }
            }
        }
    }
    
    
	.radio-section {
		
		.gfield_label {
			font-weight: 100!important;
			display: block !important;
            text-align: center!important;
			
		}
		.ginput_container_radio {
			margin-top: 5px !important;
            
            label {
               font-weight: 100!important; 
               padding-left: 5px;
            }
            
            input {
                margin-top: 0!important;   
            }
            
            input[type="radio"]:focus{
                outline:none;
            }
		}
		
	}
    
	.gform_footer input[type=submit] {
		@extend .btn-primary;
		margin: 0 auto !important;
		display: block !important;
		@include breakpoint(small down) {
			max-width: 199px;
		}
	}
}



.site-footer {
  padding: 40px 0 30px;
  text-align: center;
  
  p {
    font-size: 10px;
    
    a {
        color: $purple;   
        text-decoration: underline;
    }
    
    
  }
  
  
  
  .footer-nav {
    margin: 0 auto 25px;
    text-align: center;
    
    .menu{
        
        li{
            display: inline-block;
            text-align: left;
            margin-right: 30px;
            
            a {
                color: inherit;
                font-weight: 400;
                text-transform: lowercase;
                font-size: 12px;
                letter-spacing: .1em;
            }
        }
    }
  }
  
  
  .social-icons {
    margin-bottom: 20px;   
  }
  
}
