// Mobile Navigation

.menu-toggle,
.sub-menu-toggle {
	display: block;
	visibility: visible;
}
.nav-primary,
.nav-primary .sub-menu {
	width: 100%;
	
	display: none;
 }
.nav-primary {
	padding: 0;
	
	@include breakpoint(large down) { 
		position: absolute;
		left: 0;
		top: 100%;
		text-align: left;
	 }
}


.menu-toggle {
	display: block;
	background: url(assets/images/icon-menu.svg);
	padding: 0;
	text-indent: 9999px;
	color: transparent;
	width: 38px;
	height: 34px;
	position: absolute;
	top: 50%; 
	transform: translateY(-50%);
 	right: 15px;
	outline: none;
	border: none;
	
	@media #{$xlarge-up} {
 		display: none;
		visibility: hidden;
 	}
	
}


.sub-menu-toggle {
	
	outline: none;
	display: inline-block;
	padding: 10px;
 	position: absolute;
	right: 10px;
	top: 8px;
	cursor: pointer;
	
	&:after {
		content: '';
		display: inline-block;
		border: solid #fff;
 		border: solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(-45deg);
		width: 10px;
		height: 10px;
 	}
	
	&.activated {
		
		top: 6px;
		
		&:after {
			transform: rotate(45deg);
		}
	}
	
}