// Typography

/* Typography resets */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
	font-family: $paragraph-font-family;
	font-style: $paragraph-font-style;
	font-weight: $paragraph-font-weight;
	font-size: $paragraph-font-size;
	color: $paragraph-font-color;
	-webkit-font-smoothing: antialiased;
}


a {
	text-decoration: none;
}


// Links
a {
 	outline: none!important;

	transition: background 200ms linear, color 200ms linear;
  text-decoration: none;
	&:focus {
		outline: none!important;
	}

	&:visited {
		//color: inherit;
	} // &:visited

} // a



a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

// Adjust based on theme
@include breakpoint(xlarge down) {
    a[href^="tel"]:link,
    a[href^="tel"]:visited,
    a[href^="tel"]:hover {
        text-decoration: none;
        pointer-events: auto;
        cursor: pointer;
    }
}


strong {
	font-weight: 700;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-color;
	font-family: $header-font-family;
    letter-spacing: ( -25 / 1000 ) * 1em;
    
	a {
		color: $anchor-color;
	}
}

// Heading Line Heights

 h1,
.h1 {
    margin-bottom: 38px;
    text-align: center;
    
    font-size: 44px; 
 
    @include breakpoint(medium) {
       font-size: 48px; 
   }
   
}

h2 {
  color: $teal;
  letter-spacing: ( -25 / 1000 ) * 1em;
  margin-bottom: 15px;
  text-align: center;
}



h3 {
    line-height: (50/36);
    margin-bottom: $global-margin;
}

// entry content

 .entry-content {

	a {
		color: $anchor-color;
		text-decoration: none;
 
		&:hover {
			color: $anchor-color-hover;
			text-decoration: none;
		}
	}

	p, li {
		line-height: $paragraph-line-height;

	}

	p, ul {
		margin-bottom: $global-margin;
	}

    p:last-child {
        margin-bottom: 0;
    }

	ul:not([class]),
	ol:not([class]) {

		margin: 0 0 30px;
		list-style-position: outside;

		li:not([class]) {
			padding: 0 0 5px 0;
			margin-bottom: 0;
		}
	}


	ol li {
		list-style-type: decimal;
	}

}
