// Widgets

.widget-area {
 
    .widget {
        
    }
    
}



.share-icons {

	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	
	li {
		list-style-type: none;
		display: inline-block;
		margin: 0 0 0 10px;
		vertical-align: middle;
		
		&:first-child {
			margin-left: 0;	
		}
		
		a {
			background: $anchor-color;
			border-radius: 50%;
			width: 46px;
			height: 46px;
			display: block;
			position: relative;
            
            &:hover {
                background: $dark-teal;   
               
            }
		}
		
		svg {
            fill: #fff;  
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%); 
        }
	
		
	}
	
}