.template-about {
    
    .intro {
        
        .entry-content {
            padding-bottom: 0;   
        }
        
        hr {
            display: none;
        }
    }
    
    .the-story {
             
        .entry-content {
            
            margin-bottom: $global-margin;
            
            h2 {
                text-align: inherit;   
            }
         }
        
    }
    
    .meet-maria {
        
        .expanded {
            
            padding: 0;
            
            img {
                width: 100%;   
                margin-bottom: $global-margin;
            }
        }
        
        .entry-content {
            
            padding-bottom: 60px;
            
            h2:first-of-type {
                font-size: 44px; 
                margin-bottom: $global-margin;
            
                @include breakpoint(medium) {
                   font-size: 48px; 
                } 
            }
            
        }
    }
    
}