.template-free-resources {
   
  section.subscribe {
    
    margin-bottom: 0;
    
    .btn-primary{
      margin: 0 0 30px;
    }
    
  }
}

.resources {
  
    h2 {
        font-size: 36px;
        text-align: left;
    }
    p {
        font-size: 18px;
    }
  
  .resource {
    
    margin-bottom: 40px;
    
    .thumbnail {
        width: 100%;
        height: 360px;
        margin-bottom: 30px;
        
        position: relative;
        background-size: cover;
        background-position: center;
        
        display: table;
        border-spacing: 0;
        border-collapse: collapse;
     
        @include breakpoint(large) {
            float: left;
            margin-right: 30px;
            width: 360px;
        }
        
        .border {
            position: absolute;
            top: 18px;
            right: 18px;
            bottom: 18px;
            left: 18px;
            border: solid 2px white;
        }
        
        .text {
            position: relative;
            text-align: center;
            z-index: 2;
            padding: 0 50px 0; 
            width: 100%;
            height: 100%;
            
            display: table-cell;
            vertical-align: middle;
            
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: ( 100 / 1000 ) * 1em;
            
            
            span {
                display: block;  
                font-size: 30px; 
                font-style: italic;
                text-transform: none;
                letter-spacing: ( -25 / 1000 ) * 1em;
            }
    
        }
    }
    
    .resource-details {
        overflow: hidden;
        
        p,
        .wp-audio-shortcode {
            margin-bottom: 30px;   
        }
    }
    
  }
     
}
