//
// Front Page
//

.bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include breakpoint(small down) {
		background-image: none;
	}
}

.italic {
	font-weight: 100;
	font-style: italic;
}



.home {
	.intro {
		
        .entry-content {
            padding: 50px 0;
            
            @include breakpoint(large) {
                padding: 100px 0;
            }
            
        }
        
		p {
			font-size: 21px;
            line-height: (50/35);
			
			@include breakpoint(large) {
				font-size: 35px;
                letter-spacing: ( -25 / 1000 ) * 1em;
			}
		}
	}
}

.become-more-mindful {
	display: table;
	width: 100%;
	padding: 80px 0;
	.wrap {
		display: table-cell;
		vertical-align: middle;
	}
	background-image: url('../quiettransformations/assets/images/home/become-more-mindful-white-1920.jpg');
	//padding: 140px 0;
	min-height: 600px;
	@include breakpoint(small down) {
		padding: 30px 0;
	}
	h2 {
		margin-bottom: 5px;
		text-align: inherit;
	}
	h3 {
		text-align: inherit;
	}
	.italic {
		//font-size: 21px;
		font-weight: 500;
		color: #6f6e84;
		//margin-bottom: 10px;
	}
}

.self-care-retreat {
	display: table;
	width: 100%;
	.wrap {
		display: table-cell;
		vertical-align: middle;
	}
	background-image: url('../quiettransformations/assets/images/home/self-care-1920.jpg');
	padding: 100px 0;
	@include breakpoint(small down) {
		padding: 30px 0;
	}
	.italic {
		margin-bottom: 5px;
	}
	h2 {
		text-align: inherit;
	}
	h3 {
		text-align: inherit;
	}
}

.upcoming {
	font-size: 18px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.who-is-maria {
	display: table;
	width: 100%;
	.wrap {
		display: table-cell;
		vertical-align: middle;
	}
	background-image: url('../quiettransformations/assets/images/home/who-is-maria-1920.jpg');
	padding: 100px 0;
	h2 {
		color: $purple;
		margin-bottom: 10px;
		text-align: inherit;
	}
	h3 {
		text-align: inherit;
	}
	p {
		font-size: 18px;
	}
	@include breakpoint(small down) {
		padding: 30px 0;
	}
}

.portal {
	padding: 70px 0 130px;
	@include breakpoint(large down) {
		padding: 30px 0;
	}
	.column {
		position: relative;
	}
	.box-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.text {
		font-weight: 300;

	}
	h2 {
		font-size: 18px;
		color: #4e5461;
		padding-bottom: 5px;
		border-bottom: solid 1px #707484;
		margin-bottom: 65px;
		font-weight: 300;
		display: inline-block;
		text-transform: uppercase;
		@include breakpoint(medium down) {
			margin-bottom: 10px;
		}
	}
}

.teal-portal {
	position: relative;
	min-height: 381px;
	max-width: 571px;
	width: 100%;
	padding: 80px 50px 50px;
	background-image: url('../quiettransformations/assets/images/home/teal.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	text-align: center;
	.border {
		position: absolute;
		top: 18px;
		right: 18px;
		bottom: 18px;
		left: 18px;
		border: solid 2px white;
	}
	a {
		z-index: 99;
		position: relative;
	}
	h3 {
		color: white;
		font-size: 48px;
		margin-bottom: 10px;
	}
	p {
		font-size: 24px;
	}
	@media(max-width: 1120px) {
		padding: 60px 30px 50px;
	}
	@include breakpoint(large down) {
		margin: 0 auto;
		float: none;
		margin-bottom: 20px;
	}
	@include breakpoint(medium down) {
		margin-top: 60px !important;
	}
	@include breakpoint(small down) {
		margin-bottom: 0 !important;
		float: none;
		padding: 50px 30px 30px;
		height: 100%;
		min-height: 100%;
		h3 {
			font-size: 25px;
		}
		p {
			font-size: 18px;
		}
	}
}

//teal-portal
.purple-portal {
	@extend .teal-portal;
	background-image: url('../quiettransformations/assets/images/home/purple.jpg');
	float: right;
}

.arrow {
	background-image: url('../quiettransformations/assets/images/home/Arrow-button-small.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.testimonial {
	padding: 80px 0;
	@include breakpoint(small down) {
		padding: 60px 0;
	}
	.client {
		width: 250px;
		margin-bottom: 30px;
	}
	.quote {
		margin-bottom: 5px;
		font-size: 21px;
	}
	.italic {
		font-size: 21px;
		margin-top: 7px;
	}
	.butterfly {
		width: 70px;
		margin-top: 35px;
	}
}


.mobile-img {
	margin-bottom: 30px;
}
