

.template-portal {
    
    .resources,
    .articles {
     
        .heading {
            font-size: 18px;
            text-transform: uppercase;
            color: $gray;
            text-align: center;
            margin-bottom: 60px;   
        }
        
    }
    
    .articles {
     
        .heading {
            margin-bottom: 10px;   
        }
        
        .entry-content {
            padding-bottom: 30px;
             
        }
        
        hr {
            margin-bottom: 60px;   
        }
        
        article.post {
        
            margin-bottom: 50px;
            
            @include breakpoint(large) {
                margin-bottom: 100px;
            }
            
            
            .wp-post-image {
                margin-bottom: 28px;  
            }
            
            .entry-header {
                margin-bottom: 15px;
                
                h2 {
                    margin-bottom: 10px;   
                }
            }
            
            .entry-meta {
                
                text-align: center;
                
                span {
                    padding-right: 10px;
                    font-size: 16px;   
                    
                    a {
                        color: $dark-teal;   
                    }
                }
            }
           
        }
        
        .read-more {
            text-align: center;   
        }
        
    }
}