
.template-retreats {
  
  
  .workshops {
    
    .entry-content {
        text-align: center;   
    }
    
    h2 {
         @extend .h1;
         color: #6f7485;
    }
    
    p {
       color: $teal;    
    }
    
    h3 {
        text-align: left;
    }
    
  }
}

