.single {
  h1{
    margin: 100px 0 0;
  }
  .blog-meta{
    margin-bottom: 30px;
  }
  .comment-reply-title{
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    margin-top: 40px;
  }
  .comment-notes{
    font-size: 16px;
    margin-bottom: 20px;
  }
  label{
    display: block;
    font-size: 14px;
  }
  input{
    width: 100%;
    line-height: 40px;
    border: solid 1px #373e4a;
  }
  textarea{
    width: 100%;
    border: solid 1px #373e4a;
  }
  .submit{
    @extend .btn-primary;
    margin-top: 20px;
    width: inherit;
    line-height: inherit;
 }
}
