.template-yoga {
  
   .site-main section {
        margin-bottom: 50px;
            
        @include breakpoint(large) {
            margin-bottom: 100px;
        }   
   }
   
   
   .intro{
    
         @include breakpoint(large) {
         
            p {
                font-size: 21px;
                line-height: 35px;   
            }
        }
    
        .entry-content {
            padding-bottom: 60px;
        }
        
        h1 {
          margin-bottom: 20px;
        }
    
  }
  
}
  
  
.schedule {
    
     .entry-header {
        margin-bottom: 30px;  
        text-align: center;
        
        h2 {
          @extend h1;
          margin-bottom: 20px;
          color: $gray;
        }
        
    }
    
    .slick-calendar {
        
        margin-bottom: 40px;
        
        h3 {
          font-size: 21px;
          color: #6f7485;
          margin-bottom: 15px;
          text-align: center;
        }    
    }
    
    .date {
      text-align: center;
      margin: 30px auto 15px;
      color: #53555c;
      font-size: 24px;
    }
}

table {
    font-weight: 300;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
     
    tr {
        border-bottom: 1px solid #bec2c7;   
    }
    
    .th {
        font-weight: 300;
        background-color: $teal;
        color: white;
        padding: 8px 10px;
        
        @include breakpoint(medium) {
            font-size: 20px;
        }
    }
    td {
        padding: 11px 10px;
        font-size: 16px;
        letter-spacing: ( -25 / 1000 ) * 1em;
        
        &.even {
            background-color: #eaeaea;
            border-color:  #eaeaea;
        }
        &.odd {
            background-color: #f7f8f8;
        }
    }
}  
  
.classes {
    
    h5 {
      color: $gray;
      font-weight: 700;
      margin-bottom: 10px;
    }

}


.teachers {
    @include breakpoint(medium down) {
        margin-top: 60px;
    }
}

